<div id="contenu">
<!-- contenu de l'onglet subscribe -->


    <form>
        <input id="url" type="text"/>
        <input id="description" type="text" />

        <button id="submit">Abonnement</button>
    </form>

    <script >
        $("#submit").click( function(Event) {
            Event.preventDefault();
            var url = document.getElementById("url").value;
            var text = document.getElementById("description").value;
            url = url.replace('/','--',true);
            url = url.replace(':','__');
            $.post("/update/'" + url + "'/'" +  text +"'" );
        })

    </script>

</div>