<div id="displayList">

    <script>

        function myajax(item, url, number)
        {


            var ul = $("[id= \"tabs\"]");


            // TODO - inserer sans les doublons
            if ($("#" + "a" + number).length != 0)
                return;

            //insertion
            var li = $("<li role='presentation' id='p" + number + "'><a href='#" + "a" + number + "' aria-controls='profile' role='tab' data-toggle='tab'>" + item + "\t\t\t" + "<span href='#'  class='badge' onclick=\"return removeOnglet('" + number + "')\" >x</span></a></li>").appendTo(ul);

            //<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>


            //faire le div
            var onglets = $("[id= \"tab_content\"]");

            var div  = $("<div id='" +  "a" + number  + "' role='tabpanel' class='tab-pane'></div>").appendTo(onglets);

            //requete
            $.get("/read/" + number +"'", function(data, status){
                //insérer dans le div
                $(data.toString()).appendTo(div);


            });

            return true;

        }
    </script>
    <script>

        function removeOnglet(number) {

            document.getElementById("a" + number).remove();
            document.getElementById("p" + number).remove();

            return true;
        }
    </script>
    <div class="list-group">
    {% for item in articles %}

        <a href="#" class="list-group-item" onclick="return myajax( '{{ item.title }}', '{{ item.link }}', '{{ item.number }}' );" >  {{ item.title }}  </a>




            {% endfor %}
    </div>





</div>