<div id="displayList">

    <script>

        function myajax(item, url, number, lu)
        {


            var ul = $("[id= \"tabs\"]");


            // TODO - inserer sans les doublons
            if ($("#" + "a" + number).length != 0)
                return;

            //insertion

            var li = $("<li role='presentation' id='p" + number + "'><a href='#" + "a" + number + "' aria-controls='profile' role='tab' data-toggle='tab'>" + item + "\t\t\t" + "<span href='#'  class='badge' onclick=\"return removeOnglet('" + number + "')\" >x</span></a></li>").appendTo(ul);

            //faire le div
            var onglets = $("[id= \"tab_content\"]");

            var div  = $("<div id='" +  "a" + number  + "' role='tabpanel' class='tab-pane'></div>").appendTo(onglets);

            //requete
            $.get("/read/" + number +"'", function(data, status){
                //insérer dans le div
                $(data.toString()).appendTo(div);

                //enlever le gras
                var contenu = $("#l" + number).find("b").html();
                $("#l" + number).remove("b");
                $("#l" + number).html(contenu);

                //marqué comme lu en BD
                $.post("/updateArticleLu/" + number , function(result) {});
            });

            return true;

        }
    </script>
    <script>

        function removeOnglet(number) {

            document.getElementById("a" + number).remove();
            document.getElementById("p" + number).remove();

            return true;
        }
    </script>
    <div class="list-group">
    {% for item in articles %}

        {% if item.alreadyRead == 1 %}
        <a href="#" class="list-group-item" id="l{{ item.number }}" onclick="return myajax( '{{ item.title }}', '{{ item.link }}', '{{ item.number }}' , '{{ item.alreadyRead }}' );" >  {{ item.title }}  </a>

        {% else %}

        <a href="#" class="list-group-item" id="l{{ item.number }}" onclick="return myajax( '{{ item.title }}', '{{ item.link }}', '{{ item.number }}' , '{{ item.alreadyRead }}' );" > <b> {{ item.title }} </b> </a>

        {% endif %}


            {% endfor %}
    </div>





</div>